@media (max-width: 600px) {
    .navCont{
        width: 100%;
        padding: 0 20px 0 20px;
    }
    .first-cont{
        width: 100%;
    }
    .first-cont > img{
        width: 400px;
        margin-left: 40px;
    }
    .first-cont > h1 {
        font-size: 24px;
    }
    .firstbtn{
    margin-top: -20px;
    font-size: 18px;
    padding: 1rem 3rem 1rem 3rem;   
    }
    #secondSection{
        background-color: #fff;   
    }
    .secondCont{
        width: 80%;
        background-color: #fff;
    }
    .secondCont > img{
        width: 100%;
        border-radius: 16px;
        margin-right: 0;
        margin-bottom: 25px;
    }
    .textAreaCont p {
        font-size: 14px;
    }

    .textAreaCont2 {
        width: 20rem;
    }
    .textAreaCont2 p {
        font-size: 14px;
    }

    .thirdCont{
        width: 80%;
        background-color: #fff;
        flex-direction: column-reverse;
        align-content: space-around;
    }
    .thirdCont > img{
        width: 100%;
        border-radius: 16px;
        margin-left: 0;
        margin-bottom: 25px;
    }

    .cardCont{
        width: 70%;
    }
    .card-title{
        margin-top: 20px;
    }
    .lastSection span:first-child{
        font-size: 16px;
    }
    
    .lastpagegraphic{
        width: 60%;
    }
    .lastText{
        font-weight: 500;
        margin-bottom: 30px;
    }
    .lastbtn{
     
        font-size: 18px;
        padding: 1rem 5rem 1rem 5rem;   
    }

    /*footer*/
    footer{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px 20px 20px 20px;
    }
    .footerLogo img {
        margin-left: -20px;
        margin-bottom: 14px;
    }
    .rightSide{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .rightSide a{
        width: 75px;
    }
}
  
